<a href="https://colab.research.google.com/github/cocotey/LearningNotesMachineLearning/blob/main/LinearRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
!wget https://raw.githubusercontent.com/krishnaik06/Multiple-Linear-Regression/master/50_Startups.csv

--2022-04-26 14:49:17--  https://raw.githubusercontent.com/krishnaik06/Multiple-Linear-Regression/master/50_Startups.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2436 (2.4K) [text/plain]
Saving to: ‘50_Startups.csv.1’

50_Startups.csv.1   100%[===================>]   2.38K  --.-KB/s    in 0s

2022-04-26 14:49:17 (33.5 MB/s) - ‘50_Startups.csv.1’ saved [2436/2436]

In [20]:
import pandas as pd
data = pd.read_csv("50_Startups.csv")

In [21]:
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [22]:
data1 = pd.get_dummies(data["State"], drop_first=True)

In [23]:
data = data.drop("State",axis=1)

In [24]:
data = pd.concat([data,data1],axis=1)

In [26]:
data.head()

   R&D Spend  Administration  Marketing Spend     Profit  Florida  New York
0  165349.20       136897.80        471784.10  192261.83        0         1
1  162597.70       151377.59        443898.53  191792.06        0         0
2  153441.51       101145.55        407934.54  191050.39        1         0
3  144372.41       118671.85        383199.62  182901.99        0         1
4  142107.34        91391.77        366168.42  166187.94        1         0

In [28]:
X = data.iloc[:, :-1]
y = data.iloc[:, 4]

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [30]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train,y_train)

LinearRegression()

In [31]:
y_pred = regressor.predict(X_test)

In [32]:
from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)